	p {font-size:24px;}
	
	* { padding:0; margin:0; }
	html { font-family:'Times New Roman',Georgia; text-align:center; overflow-x:hidden; }
	body { background: #012E40 url("src/public/background/forest.webp"); background-size: 100% 100vh; background-repeat: no-repeat; color:White; }
	header span { display:inline-block; margin-top:5px; border:3px solid #413c68; border-radius:70px 15px; background-color:rgba(68, 33, 33, 0.98); box-shadow:1px 0px 2px antiquewhite; }
	h1 {font-size:48px; padding:16px; filter: drop-shadow(0px 0px 1px yellow); color:#F28705; -webkit-user-select:none; user-select:none; cursor:default; }
	main { display:grid; place-items:center; }
	sub { font-size:14px; }
	table {padding:5px;}
	tr:first-child { background-color:#5C2600; }
	td { padding:0 15px; }
	table, td { border:1px solid White; }
	#tela-game { width:500px; height:500px; margin-top: 30px; border:3px solid #2699A6; background-color: Black; }
	#tela-game button { cursor:pointer; }
	#tela-game button:hover { filter: contrast(60%); }
	#tela-game button:active { filter: brightness(70%); border-style:inset; }
	
	/* Tela Play */
	#screen-play { display:grid; place-items:center; height:100%; background-color:#025159; background:radial-gradient(circle, rgba(2,81,89,1) 0%, rgba(3,140,140,1) 100%); }
	#text-play { font-size:30px; cursor:default; }
	#button-play { background-color:transparent; border-color:transparent; cursor:pointer; }
	#button-play:hover { filter: contrast(50%); }
	
	/* Tela Menu */
	#screen-menu { display:none; flex-direction:column; flex-wrap:nowrap; justify-content:space-around; align-items:center; height:100%; background-color:#025159; }
	#p-screen-menu { cursor:default; }
	#buttons-menu {  }
	#button-game-combat-mode, #button-game-guessed-mode { padding:12px; border-radius:6px; color:#f4faff; font-weight:bold; box-shadow: 0px 1px 3px #394038; }
	#button-game-combat-mode { background-color:#00806E; border:1px solid #1D9D55; }
	#button-game-guessed-mode { background-color:#005680; border:1px solid #1D7F9D; }
	
	/* Tela Jogo Modo Combate */
	#screen-combat-game { display:none; flex-direction:column; flex-wrap:nowrap; justify-content:space-around; align-items:center; height:100%; background-color:#025159; }
	#div-exit-combat-game { justify-content:flex-start; width:90%; }
	#button-exit-combat-game { background-color:transparent; border-color:transparent; font-size:15px; text-shadow:1px 1px 2px #020202; }
	#div-title-screen-combat-game {  }
	#div-exit-combat-game, #div-text-game-combat-victory-defeat, #div-lifes-game-combat, #div-imgs-combat-game { display:flex; flex-direction:row; flex-wrap:nowrap; }
	#div-combat-game-victory, #div-combat-game-defeat, #div-life-combat-game-esquire-red, #div-life-combat-game-esquire-blue, #div-img-esquire-red, #div-img-esquire-blue { width:200px; }
	#img-esquire-red, #img-esquire-blue { width:96px; }
	#img-esquire-blue { -webkit-transform:rotateY(180deg); -o-transform:rotateY(180deg); -moz-transform:rotateY(180deg); transform:rotateY(180deg); }
	#button-combat-game-attack, #button-combat-game-defense, #button-combat-game-idle { width:95px; height:95px; border-radius:25%; margin:5px; font-size:40px; }
	#buttons-combat-game-continue-exit { visibility:hidden; }
	#button-combat-game-continue, #button-combat-game-exit { padding:5px 15px; border:1px solid #E1264B; border-radius:2px; background-color:#C6062C; color:White; font-weight:bold; }
	#button-combat-game-continue { background-color:#005680; border:1px solid #1D7F9D; }
	#button-combat-game-exit { background-color:#C6062C; border:1px solid #E1264B; }
	
	/* Tela Tabela do Jogo Combate */
	#screen-table-combat-game { display:none; flex-direction:column; flex-wrap:nowrap; justify-content:space-around; align-items:center; height:100%; background-color:#025159; }
	#button-play-again-combat-game, #button-menu-combat-game { padding:12px; border-radius:6px; color:#f4faff; font-weight:bold; box-shadow: 0px 1px 3px #394038; }
	#button-play-again-combat-game { background-color:#00806E; border:1px solid #1D9D55; }
	#button-menu-combat-game { background-color:#005680; border:1px solid #1D7F9D; }
	
	/* Tela Jogo Modo Adivinhou */
	#screen-guessed-game { display:none; flex-direction:column; flex-wrap:nowrap; justify-content:space-around; align-items:center; height:100%; background-color:#025159; }
	#div-exit-guessed-game { justify-content:flex-start; width:90%; }
	#button-exit-guessed-game { background-color:transparent; border-color:transparent; font-size:15px; text-shadow:1px 1px 2px #020202; }
	#div-title-screen-guessed-game {  }
	#div-exit-guessed-game, #div-text-game-guessed-victory-defeat, #div-imgs-guessed-game { display:flex; flex-direction:row; flex-wrap:nowrap; }
	#div-guessed-game-victory, #div-guessed-game-defeat, #div-life-guessed-game-pirate-red, #div-life-guessed-game-pirate-blue, #div-img-pirate-red, #div-img-pirate-blue { width:200px; }
	#img-pirate-red, #img-pirate-blue { width:96px; }
	#img-pirate-blue { -webkit-transform:rotateY(180deg); -o-transform:rotateY(180deg); -moz-transform:rotateY(180deg); transform:rotateY(180deg); }
	#button-guessed-game-attack, #button-guessed-game-defense, #button-guessed-game-idle { width:95px; height:95px; border-radius:25%; margin:5px; font-size:40px; }
	#buttons-guessed-game-terminate {  }
	#button-guessed-game-terminate { padding:5px 15px; border:1px solid #E1264B; border-radius:2px; background-color:#C6062C; color:White; font-weight:bold; }
	
	/* Tela Tabela do Jogo Adivinhou */
	#screen-table-guessed-game { display:none; flex-direction:column; flex-wrap:nowrap; justify-content:space-around; align-items:center; height:100%; background-color:#025159; }
	#button-play-again-guessed-game, #button-menu-guessed-game { padding:12px; border-radius:6px; color:#f4faff; font-weight:bold; box-shadow: 0px 1px 3px #394038; }
	#button-play-again-guessed-game { background-color:#00806E; border:1px solid #1D9D55; }
	#button-menu-guessed-game { background-color:#005680; border:1px solid #1D7F9D; }
